body {
    background: #eee;
}

.bgred {
    background: red!important;
}

.bgwhite {
    background: white!important;
}

.header {
    width: 100%;
}

.header_content {
    padding: 100px 0px 80px 0px;
}

.header_js {
    font-size: 16px;
    line-height: 34px;
}

.marginBottom10 {
    margin-bottom: 10px;
}

.button {
    width: 98px;
    height: 40px;
    border: 1px solid #0098ff;
    color: #0098ff;
    line-height: 26px;
}

.marginTop10 {
    margin-top: 10px;
}

.marginTop13 {
    margin-top: 13px;
}

.width23 {
    width: 23.666667%;
}

.ct {
    padding: 20px 25px;
}

.version_date {
    color: #999;
}

.code_mine {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 15px;
    color: #333;
    letter-spacing: 0px;
}

.button1 {
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 38px;
    line-height: 38px;
    padding: 0 20px;
    font-size: 14px;
    border-radius: 2px;
    background-color: #f2f2f2;
    color: #333;
    border: 1px solid #ccc;
}
.buttons{
    margin-bottom: 10px;
}